<!DOCTYPE HTML>

<html>
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8Y3H66TMX"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-Q8Y3H66TMX');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}"/>
		<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css?v=" | append: site.github.build_revision | relative_url }}"/></noscript>
		<title>{{ page.title }}</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		
		{% seo %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">


				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article >
								<header class="major">
									<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
									<p>{{ site.description | default: site.github.project_tagline }}</p>
									<hr>
									<span><a href="jguallar-blasco.github.io/">About Me</a> | <a href="https://jguallar-blasco.github.io/assets/cv_phys.pdf">CV</a> | <a href="https://jguallar-blasco.github.io/explorations/explorations">Explorations</a> | <a href="https://jguallar-blasco.github.io/for_fun/for_fun">For Fun</a> </span>

									<hr>
									
									
									<section>

      										{{ content }}

      									</section>
								</header>
							</article>

						

			</div>

		<!-- Scripts -->
			<script src="{{ "/assets/js/jquery.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/jquery.scrollex.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/jquery.scrolly.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/browser.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/breakpoints.min.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/util.js?v=" | append: site.github.build_revision | relative_url }}"></script>
			<script src="{{ "/assets/js/main.js?v=" | append: site.github.build_revision | relative_url }}"></script>

	</body>
</html>
